.testimonials-content {
    height: 90vh;
    width: 65%;
    margin: 0 auto;
    margin-top: 50px;
}

.testimonials-content h1 {
    color: #000000;
    width: fit-content;
    margin: 10px;
    font-size: 50px;
    font-weight: 900;
    border-bottom: 4px solid#E76000;
}

.testimonials {
    margin: 50px 0px 0px 40px;
}

.testimonial {
    display: flex;
    margin-top: 30px;
}


.testimonial p{
    margin-left: 20px;
    font-size: 20px;
    width: 450px;

}

.jimmy, .bruno, .david { 
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.doubleQuote {
    padding: 2px;
    width: 23px;
    height: 20px;
}

@media screen and (max-width:750px) { 
    .testimonials-content {
        height: 90vh;
        width: 85%;
        margin: 0 auto;
        margin-top: 50px;
    }
    
}


@media screen and (max-width:550px) { 
    .testimonials-content {
       width: 100%;
    }
    
    .testimonials {
        margin: 50px 0px 0px 10px;
    }

    .testimonials b {
        margin-left: 20px;
    }

    .testimonial {
        flex-direction: column;
    }

    .testimonial p {
        margin-left: 5px;
        text-align: center;
        width: 94%;
    }

    .jimmy, .bruno, .david {
        border: 3px solid #303030;
        margin-left: 40%;
        width: 70px;
        height: 70px;
    }

    
}